{{define "appsidenavvw"}}

<aside class="appsidenavvw" x-data="appsidenavvw">    
    <div class="appsidenavvw__content" 
        hx-swap="outerHTML swap:.1s"     
        hx-target=".appstage"
        hx-trigger="click"
        hx-vals='js:{
            "view": "appsidenavvw",
            "src": event.currentTarget.dataset.srcId,      
            "data": ""}',
        @click="onCloseSideNavClick()"
    >
        <div data-src-id="home" class="" hx-post="/event/element/click">
            <i class="fa-solid fa-house"></i>
            <a href="#">Home</a>
        </div>
        <div data-src-id="settings" class="" hx-post="/event/element/click">
            <i class="fa-solid fa-gear"></i>
            <a href="#">Settings</a>
        </div>
        <div data-src-id="projects" class="" hx-post="/event/element/click">
            <i class="fa-solid fa-list-check"></i>
            <a href="#">Projects</a>
        </div>       
        <div class="border_bottom-1x"></div >   
        <div data-src-id="db-analyzer" class="" hx-post="/event/element/click">
            <i class="fa-solid fa-database"></i>
            <a data-src-id="div-4" href="#">Database Analyzer</a>
        </div> 
        <div data-src-id="log-analyzer" class="" hx-post="/event/element/click">
            <i class="fa-solid fa-database"></i>
            <a href="#">Log Analyzer</a>
        </div>                     
    </div>       
</aside>
{{end}}