{{define "layout"}}

<div id="app-container" class="container">
  <div class="header-area">{{template "header" .}}</div>
  <div class="appAside">{{template "appsidenavvw" .}}</div>
  <div class="main-area">{{template "main_vw" .}}</div>
  <div class="footer">Footer</div>
</div>
{{ end }}
