<div class="dropdown" id="System">
    <button>
        System<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="System_menu">
        <li><a href="#home" id="generalsysteminfo" class="buttonClickable">Enterprise Info</a></li>
        <li><a href="#home" id="zoneinfo" class="buttonClickable">Zone Info</a></li>
        <li><a href="#home" id="CCMinfo" class="buttonClickable">CCM Info</a></li>
        <li><a href="#home" id="MMifo" class="buttonClickable">Media Manager Info</a></li>
        <li><a href="#home" id="MGinfo" class="buttonClickable">Media Gateway Info</a></li>
        <li><a href="#home" id="DeviceZoneInfo" class="buttonClickable">Device (BCP/Deploy/Current) Zone Info</a></li>
        <li><a href="#home" id="IQMAXTurretInventory" class="buttonClickable">IQMAX Turret Inventory</a></li>
        <li><a href="#home" id="TurretInfo" class="buttonClickable">Turret Info</a></li>
        <li><a href="#home" id="JobDetails" class="buttonClickable">Job Details Info</a></li>
        <li><a href="#home" id="CdiCounts" class="buttonClickable">CDI Counts</a></li>
        <li><a href="#home" id="LicenseInfo" class="buttonClickable">License Info</a></li>
    </ul>
</div>